<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Welcome to Chitter</h1>
      <a href='/register' id='register'>Sign Up</a>
  </body>
</html>
